# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Environment
.env
.env.bak

# Data & Logs
data/
logs/

# Backups
backups/

# IDE
.idea/
.vscode/
*.swp

# Node.js
node_modules/
frontend/dist/
frontend.bak/dist/
frontend-poc/
